@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

body {
  background: linear-gradient(
    90deg,
    rgb(141, 141, 243) 0%,
    rgb(208, 225, 252) 100%
  );
  font-family: "Lato", sans-serif;
  height: 100vh;
}
